/* Importando a fonte Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #fff;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Certifique-se de que o cabeçalho fique visível acima do conteúdo */
}

.title {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #CC6600;
    margin: 0;
}

.icon-menu {
    font-size: 24px;
    color: #CC6600;
    text-decoration: none;
    cursor: pointer;
}

main {
    margin-top: 80px;
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
    text-align: center;
}

.section-title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #333;
    margin-bottom: 30px;
}

.contact-info h3 {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.contact-info ul li {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.contact-info ul li a {
    color: #CC6600;
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}

.contact-info p {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

.contact-info p a {
    color: #CC6600;
    text-decoration: none;
}

.contact-info p a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    .icon-menu {
        font-size: 20px;
    }

    main {
        margin-top: 60px;
        padding: 0 15px;
    }

    .section-title {
        font-size: 20px;
    }

    .contact-info h3 {
        font-size: 16px;
    }

    .contact-info ul li, .contact-info p {
        font-size: 14px;
    }
}
